

/* Imagem rectangular no topo do card de perfil */
#fotoPerfil {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center top;
}



/* Responsividade em telemóvel */
@media (max-width: 576px) {
  #fotoPerfil {
    height: 220px;
  }
}